.htmx-request-block {
  display: none;
}
.htmx-request .htmx-request-block,
.htmx-request.htmx-request-block {
  display: block;
}

.htmx-request .htmx-request-hide,
.htmx-request.htmx-request-hide {
  display: none;
}

dialog {
  position: fixed;
  top: 0;
  bottom: 0;
  max-width: 100%;
  width: 30em;
  max-height: 100%;
  height: 40em;
  padding-bottom: 0;
  margin: 0;
  z-index: 1;
}

#search form {
  position: relative;
}

#search form input {
  width: 100%;
  padding-right: 44.53px;
}
#search form input::placeholder {
  text-align: left;
}
#search form button {
  position: absolute;
  right: 0;
  top: 0;
  height: 35.59px;
}

dialog[open] {
  display: flex;
  flex-direction: column;
}
